In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("train.csv")

In [5]:
df

,site_id,patient_id,image_id,laterality,view,age,cancer,biopsy,invasive,BIRADS,implant,density,machine_id,difficult_negative_case
0,2,10006,462822612,L,CC,61.0,0,0,0,NaN,0,NaN,29,False
1,2,10006,1459541791,L,MLO,61.0,0,0,0,NaN,0,NaN,29,False
2,2,10006,1864590858,R,MLO,61.0,0,0,0,NaN,0,NaN,29,False
3,2,10006,1874946579,R,CC,61.0,0,0,0,NaN,0,NaN,29,False
4,2,10011,220375232,L,CC,55.0,0,0,0,0.0,0,NaN,21,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54701,1,9973,1729524723,R,MLO,43.0,0,0,0,1.0,0,C,49,False
54702,1,9989,63473691,L,MLO,60.0,0,0,0,NaN,0,C,216,False
54703,1,9989,1078943060,L,CC,60.0,0,0,0,NaN,0,C,216,False
54704,1,9989,398038886,R,MLO,60.0,0,0,0,0.0,0,C,216,True
54705,1,9989,439796429,R,CC,60.0,0,0,0,0.0,0,C,216,True

In [7]:
#balancing the dataset

df_yes = df[df['cancer']==1]
df_no = df[df['cancer']==0]

In [10]:
#sample 1158 from df_no

df_no_sampled = df_no.sample(1158,replace=False,ignore_index=True)

In [11]:
df_no_sampled

,site_id,patient_id,image_id,laterality,view,age,cancer,biopsy,invasive,BIRADS,implant,density,machine_id,difficult_negative_case
0,2,4993,1406625578,L,CC,50.0,0,0,0,NaN,0,NaN,29,False
1,2,43741,1399181675,R,CC,49.0,0,0,0,NaN,0,NaN,48,False
2,2,22256,1642747401,R,CC,64.0,0,0,0,NaN,0,NaN,48,False
3,2,65205,700695431,L,MLO,61.0,0,0,0,NaN,0,NaN,21,False
4,2,52990,366646762,L,MLO,41.0,0,0,0,0.0,0,NaN,48,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1153,1,43370,1255486389,L,CC,71.0,0,0,0,1.0,0,C,49,False
1154,2,50248,460184361,R,MLO,52.0,0,1,0,NaN,0,NaN,29,True
1155,2,22887,495924062,L,CC,69.0,0,0,0,NaN,0,NaN,21,False
1156,1,48352,1703975009,R,CC,78.0,0,0,0,1.0,0,C,49,False
1157,2,9600,1510761222,L,MLO,53.0,0,0,0,0.0,0,NaN,21,True

In [20]:
#merging the df_yes and df_no_sampled into one dataframe

df_balanced = pd.concat([df_yes,df_no_sampled],axis=0).reset_index(drop=True)

In [24]:
#adding a column for image name
def get_image_name(row):

    return str(row['patient_id']) + "_" + str(row['image_id']) + ".png"

In [25]:
df_balanced['image_name'] = df_balanced.apply(get_image_name,axis=1)

In [28]:
#converting the datatype of cancer column from int to str because it is expected by keras model which we will be using later

df_balanced['cancer'] = df_balanced['cancer'].astype(str)

In [32]:
#shuffling the rows in the balanced df because otherwise it feels illegal

df_balanced = df_balanced.sample(frac=1).reset_index(drop=True)

In [33]:
df_balanced

,site_id,patient_id,image_id,laterality,view,age,cancer,biopsy,invasive,BIRADS,implant,density,machine_id,difficult_negative_case,image_name
0,2,52062,1323703623,R,MLO,62.0,0,0,0,NaN,0,NaN,21,False,52062_1323703623.png
1,1,63053,151272201,R,MLO,54.0,1,1,0,0.0,0,B,49,False,63053_151272201.png
2,2,61825,1335802158,R,CC,57.0,1,1,1,NaN,0,NaN,21,False,61825_1335802158.png
3,1,39280,334248774,R,CC,74.0,1,1,1,0.0,0,A,49,False,39280_334248774.png
4,1,21957,1415477144,R,CC,79.0,1,1,0,0.0,0,B,93,False,21957_1415477144.png
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2311,2,59464,232612316,R,MLO,57.0,0,0,0,NaN,0,NaN,48,False,59464_232612316.png
2312,1,7780,512684699,L,MLO,69.0,1,1,0,0.0,0,B,49,False,7780_512684699.png
2313,2,54697,333912661,R,MLO,50.0,0,0,0,0.0,0,NaN,21,True,54697_333912661.png
2314,1,28620,669303826,R,MLO,55.0,1,1,1,0.0,0,C,49,False,28620_669303826.png
2315,2,43005,1013590528,R,MLO,59.0,0,0,0,NaN,0,NaN,29,False,43005_1013590528.png

In [34]:
#our dataframe is ready, now we can store it as csv and later use it for further tasks.
df_balanced.to_csv("balanced_data.csv")